.ordering{
    padding: 2rem;
    border: 1px solid var(--gray-medium);
    border-radius: 8px;
    width: 46rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.ordering__info{
    margin-bottom: 1rem;
    padding: 0.8rem 1rem 0.3rem 1rem;
    background-color: var(--yellow-light);
}

.ordering__ingredients{
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--yellow-darker);
}


.additional{
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.additional__price{
    font-weight: 400;
    color: var(--yellow-tangerine);
}

.additional__line{
    margin-top: 0.4rem;
    border: 1px solid var(--yellow-lighter);
}

.additional__button,
.ordering__quantity{
    display: flex;
    align-items: baseline;
    align-self: flex-end;
    border-radius: 5px;
    border: 1px solid var(--yellow-tangerine);
    padding: 0 0.25rem;
    display: flex;
    align-items: center;
}

.additional__button--plus,.additional__button--minus,
.ordering__quantity--plus,.ordering__quantity--minus{
    border: 0;
    background-color: transparent;
    color: var(--red-deliverize);
    transition: all .15s ease-in-out;
}

.additional__button--plus:hover,.additional__button--minus:hover,
.ordering__quantity--plus:hover,.ordering__quantity--minus:hover{
    transform: scale(1.1);
}

.additional__button--input{
    font-size: 0.875rem;
    text-align: center;
    width: 2rem;
    border: 0;
}

.additional__button--single,
.ordering__quantity--single {
    border: 0;
}

.singleChoice{
    background-color: var(--yellow-light);
    padding: 0rem 1rem 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.singleChoice__description{ flex: 1; }

.ordering__submit{
    padding-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.ordering__quantity--input{
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    width: 5.5rem;
    height: 2.5rem;
    border: 0;
}

.ordering__submit--btn {
    border: 0;
    background-color: var(--yellow-tangerine);
    border-radius: 4px;
    flex: 1;
    color: var(--white);
    transition: all .15s ease-in-out;
}

.ordering__submit--btn:hover {
    transform: scale(1.015);
}

.ordering__popover{
    font-weight: 700;
}

.ordering__popover-header{
    padding: 0.8rem;
    padding-bottom: 0.3rem;
    background-color:var(--yellow-tangerine);
    font-size: 1.125rem;
    color: var(--white);
    text-align: center;
}

.ordering__popover-title{
    padding: 0.6rem;
    color: var(--red-medium);
    font-size: 0.875rem;
}

.ordering__popover-ingredients--title,.ordering__popover-ingredients{
    font-weight: 400;
    font-size: 0.75rem;
    padding: 0.1rem 0.6rem;
    list-style-position: inside;
}

.ordering__popover-ingredients--item{
    display: list-item;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
}

@media (max-width: 768px) and (min-width: 480px) {
    .ordering{
        width: 50rem;
    }
    .ordering__quantity--input{
        width: 3.5rem;
    }
}

@media (max-width: 480px) {
    .ordering{
        border: 0;
        padding: 2rem 0 0 0;
        width: 100%;
        font-size: 1rem;
    }
    .additional{
        gap: 0.4rem;
        padding-bottom: 1rem;
    }

    .ordering__quantity--input{
        width: 6rem;
    }
}